<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- this is code about machine search -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- this is link connect css -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="col-md-7 da-student">
            <p class="da-text">DA <br> TA <span class="student-text">STUDENT</span></p>
        </div>
    </header>
    <div class="col-md-6 blur">
        <ul class="menu">
            <!-- This code about menu link to home.html -->
            <li class="item"><a href="home.html"><i class="fa-solid fa-house-chimney"></i><br>Home</a></li>
            <!-- This code about menu link to Aboutme.html -->
            <li class="item"><a href=""><i class="fa-solid fa-user-group"></i><br>About me</a></li>
            <li class="item"><a href=""><i class="fa-solid fa-list"></i><br>Services</a></li>
            <li class="item"><a href=""><i class="fa-solid fa-briefcase"></i><br>Portfolio</a></li>
            <li class="item"><a href=""><i class="fa-solid fa-comments"></i><br>Contact</a></li>

        </ul>
    </div>
    <div class="col-md-5">
        <ul class="social-menu">
            <li><a href="https://www.instagram.com/jara_ae/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://web.facebook.com/profile.php?id=100008108415558"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-line"></i></a></li>
        </ul>
    </div>

</body>

    <script src="/js/script.js"> </script>
</html>